@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; }

ul {
  list-style-type: none;
  font-size: 20px; }

a {
  text-decoration: none;
  color: #000; }

h1 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 80px; }

h2 {
  font-size: 36px;
  margin: 0px auto 75px; }

h3 {
  font-size: 20px; }

.container {
  display: flex;
  max-width: 1900px;
  margin: 0 auto;
  width: 100%;
  /* height: 100%;*/ }

.row {
  width: 60%;
  display: flex;
  margin: 0 auto;
  /*height: 100%;*/ }

section {
  width: 100%;
  max-width: 1900px;
  margin-bottom: 180px; }

img {
  width: 100%; }

.info-text {
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px auto 150px; }
  .info-text h2 {
    margin-bottom: 125px;
    text-align: center; }
  .info-text .row h2 {
    width: 50%;
    padding: 0;
    text-align: center; }
  .info-text .row div {
    font-size: 20px;
    width: 50%; }

header {
  position: absolute;
  z-index: 2;
  width: 100%; }
  header .container {
    padding: 0px 20px; }
    header .container nav {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      header .container nav ul {
        display: flex; }
        header .container nav ul li {
          padding-left: 15px; }
          header .container nav ul li a {
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase; }

.top {
  position: relative;
  background: url(../img/1.png) no-repeat center 0/cover;
  height: 100vh;
  background-attachment: fixed; }
  .top h1 {
    position: absolute;
    color: #ffffff;
    text-align: center;
    text-transform: none;
    width: 20%;
    left: 40%;
    top: 50%; }

.brand h2 {
  width: 45%; }
.brand .row {
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap; }
.brand img {
  width: 50%;
  height: 500px; }

.book .green {
  background: #99cc00;
  width: 100%;
  height: 545px;
  margin-top: 600px;
  position: relative; }
  .book .green img {
    position: absolute;
    width: 60%;
    height: auto;
    display: block;
    left: 20%;
    bottom: 0px; }

.kvadrat .container .fon {
  background: #666666;
  width: 50%; }
  .kvadrat .container .fon img {
    height: 100%;
    width: 95%; }
.kvadrat .container .green {
  background: #99cc00;
  width: 50%; }
  .kvadrat .container .green img {
    height: 100%;
    width: 85%;
    display: block;
    margin: 0 auto; }
.kvadrat .container img {
  width: 50%; }

.ufo h1 {
  text-align: center; }
.ufo .fon {
  background: #666666;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .ufo .fon img {
    width: 85%; }
.ufo img {
  width: 50%; }

.leaf h1 {
  text-align: center; }
.leaf .fon {
  background: #666666;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .leaf .fon img {
    width: 95%; }
.leaf img {
  width: 50%; }
.leaf h2 {
  text-align: center; }
.leaf .row {
  justify-content: center;
  margin: 150px auto; }
  .leaf .row h2, .leaf .row div {
    width: 50%; }

.slide {
  margin-top: 50px;
  position: relative;
  height: 100%; }
  .slide #carousels {
    height: 700px;
    position: relative;
    /*width: 500px;*/ }
    .slide #carousels .carousel {
      position: absolute;
      left: 0;
      top: 15%;
      width: 33.3333333333%;
      /*opacity: 0;*/
      /*transition: opacity 3s; */
      /* Время появления картинки */ }
    .slide #carousels img {
      width: 100%;
      /*height: 700px;*/ }
    .slide #carousels .carousel:nth-child(2) {
      left: 25%;
      z-index: 2;
      width: 50%; }
    .slide #carousels .carousel:nth-child(3) {
      left: 66%; }
    .slide #carousels .demonstration {
      top: 0%; }
  .slide .container {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    height: 700px; }
    .slide .container img {
      position: relative;
      width: 130px; }
  .slide .row {
    justify-content: space-between;
    margin: 150px auto; }

.drawing .fon {
  padding: 70px 0px;
  background: #99cc00; }
  .drawing .fon .row {
    flex-direction: column;
    width: 40%; }
.drawing h2 {
  color: #ffffff; }

.implemented-project .container {
  width: 80%;
  margin: 0 auto;
  flex-direction: column; }
  .implemented-project .container .info-text {
    margin-top: 180px; }
    .implemented-project .container .info-text .row {
      width: 100%; }
      .implemented-project .container .info-text .row h2 {
        text-align: left;
        margin: 0px; }
      .implemented-project .container .info-text .row .info-text-div {
        width: 30%; }
.implemented-project h2 {
  text-align: center; }

.instruction .container {
  margin-top: 180px; }
  .instruction .container img {
    width: 50%;
    height: 630px; }

.forma .row {
  width: 75%;
  flex-direction: column; }
  .forma .row h1 {
    text-align: center;
    color: #993399; }
  .forma .row p {
    line-height: 1.5;
    font-size: 30px; }
  .forma .row span {
    color: #993399;
    font-weight: bold; }
  .forma .row button {
    margin: 90px auto;
    align-self: center;
    width: 320px;
    height: 70px;
    border: none;
    background: #ffcc00;
    color: #993399;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px; }
.forma .container {
  height: 120px;
  background: #993399;
  justify-content: space-between;
  align-items: center; }
  .forma .container p {
    color: #ffffff;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
    font-size: 30px; }

/*# sourceMappingURL=style.css.map */
